html{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}
body{
    min-width: 800px !important;
}
.ui-dock{
    z-index: 1 !important;
}
.ui-dock.top {
    top: 0.25em!important;
}
.card{

        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;

}

/*overlay*/
.article{

}

.flag {
    width: 20px; /* Adjust size as needed */
    height: auto;
    margin-right: 5px; /* Add some spacing between flag and text */
}
