

#header{
    height: 80px;
    color: white !important;
    background-color: rgba(128, 78, 10, 0.87);


}
#content{
    position: relative;
    margin-top: 25px;
    min-height: 85vh;
}

#footer {
    height:100px;
    background-color: rgba(128, 78, 10, 0.87);
    color: white !important;
}